{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4],
        "space-before-function-paren": ["error", "always"],
        "comma-dangle": ["error", {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "always-multiline",
            "exports": "always-multiline",
            "functions": "never"
        }],
        "no-param-reassign": 0,
        "import/no-extraneous-dependencies": ["error", {
            "devDependencies": ["spec/{,**/}*.spec.js"]
        }]
    }
}

